a:hover{
    color: white;
}

.card{
    width: 30%;
}

.info{
    display: flex;
    justify-content: space-evenly;
}

.texto{
    width: 50%;
}

#titulo{
    display: flex;
    justify-content: center;
}

button{
    width: 100%;
}
.card{
    border-radius: 500px;
  overflow: hidden;
  background: rgb(43, 42, 43);
  box-shadow: 0px 1px 10px rgb(190, 17, 17);
  cursor: default;
  transition: all 400ms ease;
 
  }
  .card:hover{
  box-shadow: seashell;
  transform: translateY(-3%);
  }
   .card p{
       color: rgb(180, 16, 16);
   }
   .card{
       width: 100%;
   }
   .switch{
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    border: #333 solid 2px;
    background-color: #132b41;
   }
   .menu-options li:last-child ::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border: radius 50%;
    backround-color: #fff;
    border: solid thin #000;
    left: 0;
    right: unset;
   } 
   .menu-options li:last-child.active ::before {
    right: 0;
    left: unset;
    border: solid thin #fff;
   }
   body.active nav {
    background-color: #ffffff;
   }
   body.active nav ul li a {
    color: #000;
   }
   